// Variables
// Paleta de colores
@color1: #F4D03F;
@color2: #333333;
@color3: #A569BD;
@color4: #4A235A;
@color5: #dddddd;
@color6: #2471A3;
@color7: #eeeeee;
@mastercard: #EB001B;
@visa: #f7b600;
@apple-pay: #080381;

// MIXIN
.margenes (@top, @bottom) {
    margin-top: @top !important;
    margin-bottom: @bottom !important;
}

.footer (@padding, @cFondo, @color, @bottom) {
    padding: @padding;
    background-color:@cFondo;
    color: @color;
    margin-bottom: @bottom;
}


// Estilos en less
.jumbotron{
    .margenes(50px, 20px);
    background-color: @color1;
}

.carousel{
    .margenes(56px, 0);
}

footer {
    .footer(5%, @color1, @color2, 0px);
    a {
        color: @color2 !important;
    }
}

.card-hotel {
    flex: 1 280px;
    margin: 10px;
}

.banner {
    border-radius: 0;
    .margenes(-32px, 20px)
}

.imagen-principal {
    text-align: center;
}


.btn1 {
    background-color: @color3;
    border-color: @color3;
    &:hover {
        background-color: @color4;
        border-color: @color4;
    }
    &:focus{
        background-color: @color4;
        border-color: @color4;
        outline: none;
        box-shadow: none;
    }
}

.footer-address-icon {
    padding-right: 10px;
}

.container {
    .oi {
        font-size: 13px;
    }
    .table-responsive .table tbody tr {
        td {
        min-width: 150px;
        }
        .estrellas {
            text-align: left;
            width: 150px;
        }
    }
}

/* Página nosotros */

.contenedor1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.breadcrumb {
    font-size: initial;
    font-weight: initial;
}

/* Cambiar tamaño de los iconos de tarjetas de pago */

.tarjetas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .card-header {
        text-align: center;
        background-color: @color6;
        color: @color7;
        font-weight: bold;
        text-decoration: none;

        .btn {
            text-decoration: none;

            h5 {
                text-align: center;
            }
        }

        .mb-0 .btn-link {
            color: @color5;
            font-weight: bold;
        }
    }
}

.accordion {
    width: 500px;
    img {
        max-width: 200px;
    }
}

.accordion .card .card-body {
    .fab {
        font-size: 70px;
    }
    .fa-cc-mastercard {
        color: @mastercard;
    }
    .fa-cc-visa {
        color: @visa;
    }
    .fa-cc-apple-pay {
        color: @apple-pay;
    }
}

.comentarios {
    text-align: justify;
}

.promo{
    background-color: @color2;
    padding: 0;
}