@charset "UTF-8";
.jumbotron {
  margin-top: 50px !important;
  margin-bottom: 20px !important;
  background-color: #F4D03F; }

.carousel {
  margin-top: 56px !important;
  margin-bottom: 0 !important; }

footer {
  padding: 5%;
  background-color: #F4D03F;
  color: #333333;
  margin-bottom: 0px; }
  footer a {
    color: #333333 !important; }

.card-hotel {
  flex: 1 280px;
  margin: 10px; }

.banner {
  border-radius: 0;
  margin-top: -32px !important;
  margin-bottom: 20px !important; }

.imagen-principal {
  text-align: center; }

.btn1 {
  background-color: #A569BD;
  border-color: #A569BD; }
  .btn1:hover {
    background-color: #4A235A;
    border-color: #4A235A; }
  .btn1:focus {
    background-color: #4A235A;
    border-color: #4A235A;
    outline: none;
    box-shadow: none; }

.footer-address-icon {
  padding-right: 10px; }

.container .oi {
  font-size: 13px; }

.container .table-responsive .table tbody tr td {
  min-width: 150px; }

.container .table-responsive .table tbody tr .estrellas {
  text-align: left;
  width: 150px; }

/* Página nosotros */
.contenedor1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 500; }

.breadcrumb {
  font-size: initial;
  font-weight: initial; }

/* Cambiar tamaño de los iconos de tarjetas de pago */
.tarjetas {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .tarjetas .card-header {
    text-align: center;
    background-color: #2471A3;
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none; }
    .tarjetas .card-header .btn {
      text-decoration: none; }
      .tarjetas .card-header .btn h5 {
        text-align: center; }
    .tarjetas .card-header .mb-0 .btn-link {
      color: #dddddd;
      font-weight: bold; }

.accordion {
  width: 500px; }
  .accordion img {
    max-width: 200px; }

.accordion .card .card-body .fab {
  font-size: 70px; }

.accordion .card .card-body .fa-cc-mastercard {
  color: #EB001B; }

.accordion .card .card-body .fa-cc-visa {
  color: #f7b600; }

.accordion .card .card-body .fa-cc-apple-pay {
  color: #080381; }

.comentarios {
  text-align: justify; }

.promo {
  background-color: #333333;
  padding: 0; }
